/* Utility classes */

.u-dark-color {
    color: #232a31;
}
.u-medium-dark-color {
    color: #38434f;
}
.u-light-dark-color {
    color: #4e5d6c;
}

.u-gray-light-color {
    color: #f5f5f5;
}
.u-subtitle-gray-color {
    color: #bcc0c3;
}

.u-dark-background {
    background-color: #232a31;
}


.main-wrap {
    width: 27rem;
    margin-left: auto;
    margin-right: auto;
}

.header__title {
    display: block;
    font-size: 2.625rem;
    font-weight: bold;
}

.header__sub-title {
    display: block;
    font-size: 1.3125rem;
    margin-top: 0.875rem;
}

.list-header {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 4.125rem;
}
