dark-dark = #1d2329
medium-dark = #283038
light-dark = #4e5d6c

light-gray = #f5f5f5
subtitle-gray = #bcc0c3
medium-gray = #999999
header-gray = #959ca3
metadata-gray = #A4A7AB
white = #f5f5f5

hudl-orange = #FF6600

language-csharp = #58E2C2
language-go = #1DAFEC
language-python = #ECE384
language-js = #ED9EE7
