.grid {
    display: table
    border-collapse: collapse
    width: 100%
}

.grid-row {
    display: table-row
    border-bottom: solid 1px dark-dark

    @media (max-width: constrained-width) {
        display: block
        width: auto
        border-bottom: none;
    }
}

* > .grid-row:last-child {
    border-bottom: none;
    @media (max-width: constrained-width) {
        border-bottom: solid 1px dark-dark
    }
}

.grid-cell:hover{
    background-color: dark-dark;
}
.grid-cell {
    display: table-cell
    padding: 2.375rem 1.75rem 2.375rem 1rem;
    box-sizing: border-box
    width: constrained-width-partial
    min-height: 100%
    vertical-align: top

    &:nth-child(2) {
      border-left: solid 1px dark-dark
      padding-left: 1.75rem

      @media (max-width: constrained-width) {
          border-left: none
          padding-left: 0
      }
    }

    @media (max-width: constrained-width) {
        display: block
        width: constrained-width-mobile
        padding-left: 0
        padding-right: 0
        border-bottom: solid 1px dark-dark
    }
}
