$flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

constrained-width = 45.875rem
constrained-width-partial = 22.8rem

$constrain {
    width: constrained-width;
    margin-left: auto;
    margin-right: auto;
}
