.hudl-bits {
    background-color: medium-dark
    padding-bottom: 2rem;
}

.hudl-bits-posts {
    @extend $constrain
    margin-top: 2rem
}

.blog {
    mobile-padding-media()
}

.blog__title {
    font-weight: 700;
    font-size: 1.75rem
}

.blog__meta {
    color: subtitle-gray
}

.blog__content {
    color: light-gray
    margin-top: 1rem
    margin-bottom: 1rem
}

.hudl-bits-readmore {
    color: white
    font-weight: 700
    font-size: 1.5rem
    text-decoration: none
    &:hover {
        text-decoration: underline
    }
}
