.cta {
    background-color: medium-dark
    text-align: center
    padding-top: 1rem
    padding-bottom: 1rem

    @media (max-width: constrained-width) {
        font-size: 1.125rem
    }
}

.cta__title {
    font-size: 1rem;
    font-weight: normal;
    margin: 0
}

.cta__link {
    color: hudl-orange
    text-decoration: none
    font-weight: 700
    &:hover {
        text-decoration: underline
    }
}
