.cta {
  background-color: medium-dark
  font-size: 1.5rem;
  text-align: center
  padding-top: 1rem
  padding-bottom: 1rem
  margin-top: 2rem

  @media (max-width: constrained-width) {
    font-size: 1.125rem
  }
}

.cta__link {
  color: hudl-orange
  text-decoration: none
  font-weight: 700
  &:hover {
    text-decoration: underline
  }
}
