.cta {
  background-color: medium-dark
  text-align: center
  padding-top: 1rem
  padding-bottom: 1rem
  margin-top: 2rem
}

.cta__link {
  color: hudl-orange
  text-decoration: none
  font-weight: 700
  &:hover {
    text-decoration: underline
  }
}
