// Dependencies
@import "_normalize.styl";
@import "_colors.styl";
@import "_mixins.styl";
@import "_grid.styl";
@import "_font.styl";
@import "cta.styl";
@import "projects.styl";
@import "blog.styl";
@import "twitter.styl";
@import "footer.styl";


body {
    background: dark-dark
    color: light-gray
}

.main-wrap {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.header {
    @extend $constrain
    margin-bottom: 5rem
}

.header-left {
    display: inline-block;
    width: 50%;

    @media (max-width: constrained-width) {
        width: constrained-width-mobile
        display: block
        margin-top: 4rem
    }
}

.header-right {
    display: inline-block;
    width: 45%;
    padding-left: 1.75rem;

    @media (max-width: constrained-width) {
        width: constrained-width-mobile
        display: block
        padding-left: 0
    }
}

.header__lead-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 325px;
    position: relative;
    top: -4rem;

    @media (max-width: constrained-width) {
        top: 0
    }
}

.header__title {
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 3.9375rem;
    font-weight: normal;
    letter-spacing: 0.21875rem;
    line-height: 4.6875rem;
    margin-top: 4.4375rem;

    @media (max-width: constrained-width) {
        text-align: center
        font-size: 2.625rem;
        mobile-padding()
    }
}

.header__sub-title {
    color: subtitle-gray
    display: block;
    font-size: 1.3125rem;
    line-height: 1.75rem;
    margin-top: 2.125rem;

    mobile-padding-media()
}

.list-header-wrapper {
    background-color: #21272E
}

.list-header {
    @extend $constrain
    display: block;
    font-size: 2rem;
    padding-top: 2.25rem
    padding-bottom: 2rem
    color: #959CA3

    mobile-padding-media()
}

.list-footer {
    @extend $constrain

    mobile-padding-media()
}

.final-cta {
    color: white
    padding-bottom: 5rem
    padding-top 2.875rem
}
