// Dependencies
@import "_normalize.styl";
@import "_colors.styl";
@import "_mixins.styl";
@import "font.styl";
@import "cta.styl";
@import "projects.styl";
@import "blog.styl";
@import "twitter.styl";


body {
    background: dark-dark
    color: light-gray
}

.main-wrap {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.header {
    @extend $constrain
    margin-bottom: 5rem
}

.header-left {
    display: inline-block;
    width: 50%;

    @media (max-width: constrained-width) {
        width: constrained-width-mobile
        display: block
        margin-top: 4rem
    }
}

.header-right {
    display: inline-block;
    width: 49%;

    @media (max-width: constrained-width) {
        width: constrained-width-mobile
        display: block
    }
}

.header__lead-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 325px;
}

.header__title {
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 2.625rem;
    font-weight: normal;
    letter-spacing: 0.21875rem;
    margin-top: 4.4375rem;

    @media (max-width: constrained-width) {
        text-align: center
        mobile-padding()
    }
}

.header__sub-title {
    color: subtitle-gray
    display: block;
    font-size: 1.3125rem;
    line-height: 1.75rem;
    margin-top: 0.875rem;

    mobile-padding-media()
}

.list-header-wrapper {
    background-color: dark-dark
}

.list-header {
    @extend $constrain
    display: block;
    font-size: 2rem;
    padding-top: 1.5rem
    padding-bottom: 1.5rem
    color: subtitle-gray

    mobile-padding-media()
}

.list-footer {
    @extend $constrain

    mobile-padding-media()
}
