.page-footer {
    @extend $constrain
    text-align: center;
    padding-bottom: 2rem;
    margin-top: 2rem
}

.page-footer-links {
    list-style: none
    margin: 0
    padding: 0
}

.page-footer-link-item {
    display: inline-block
    vertical-align: middle
    text-align: center
}

.footer-link {
    color: medium-gray;
    text-decoration: none;
}
a.footer-link:hover {
    color: white !important;
}

a.footer-link:link {
    color: medium-gray;
}

/* visited link */
a.footer-link:visited {
    color: medium-gray;
}

a.footer-link:after {
    content: ' -'
}
.page-footer-link-item:last-child > a.footer-link:after {
    content: ''
}
