.footer-link {
    color: #999999;
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;
}

a.footer-link:link {
    color: #999999;
}

/* visited link */
a.footer-link:visited {
    color: #999999;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 45.875rem;
}