.twitter {
    background-color: medium-dark
}

.tweets {
    @extend $constrain
    mobile-padding-media()
}

.tweet {
    position: relative;
    font-size: 1rem
}

.tweet:last-child {
    margin-top: 2rem

    @media (max-width: constrained-width) {
        margin-top: 0;
    }
}

.tweet__icon {
    position: absolute;
    width: 2rem
    height: auto

    img {
        border-radius: 2px;
    }
}

.tweet__icon + .tweet__meta,
.tweet__icon + .tweet__meta + .tweet__content {
    margin-left: 4rem
}

.tweet__meta {
    font-weight: bold
}

.tweet__retweet-icon {
    display: inline-block
    margin-left 6px

    path {
        fill: #959CA3
    }
}

.tweet__viewmore {
    view-more()
}

.twitter__handle {
    display: inline-block
    padding-left: 0.25rem
    font-weight 300
}

a.twitter__handle:link {
    color: #999999;
}

/* visited link */
a.twitter__handle:visited {
    color: #999999;
}

.tweet__content {
    color: #BCC0C3
    margin-top: 0.25rem
}
