.twitter {
    background-color: medium-dark
    padding-bottom: 2rem;
}

.tweets {
    @extend $constrain
    mobile-padding-media()
}

.tweet {
    position: relative;
}

.tweet:last-child {
    margin-top: 2rem
}

.tweet__icon {
    position: absolute;
    width: 2rem
    height: auto
}

.tweet__icon + .tweet__meta,
.tweet__icon + .tweet__meta + .tweet__content {
    margin-left: 4rem
}
