.twitter {
    background-color: medium-dark
}

.tweets {
    @extend $constrain
    mobile-padding-media()
}

.tweet {
    position: relative;
}

.tweet:last-child {
    margin-top: 2rem

    @media (max-width: constrained-width) {
        margin-top: 0;
    }
}

.tweet__icon {
    position: absolute;
    width: 2rem
    height: auto
}

.tweet__icon + .tweet__meta,
.tweet__icon + .tweet__meta + .tweet__content {
    margin-left: 4rem
}

.tweet__viewmore {
    view-more()
}

a.twitter__handle:link {
    color: #999999;
}

/* visited link */
a.twitter__handle:visited {
    color: #999999;
}
